.btn {
    background-color: #1e3a8a;
    color: white;
    border: none;
  
    &:hover {
      background-color: #3b82f6;
      color: #f8fafc;
    }
  }
  
  .btn-primary {
    background-color: #4285f4;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  