.main-deuda {
  min-height: 100vh;
  color: black;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-deuda {
  display: grid;
  gap: 30px; // más espacio entre ítems
  max-width: 90%;
  margin: auto;
  height: 718px;
  
  // Responsive grid
  grid-template-columns: 1fr;

  @media (min-width: 576px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.item {
  display: flex;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.1); // para resaltar visualmente
  padding: 20px;  // <--- espaciado interno aquí
  border-radius: 10px;
  min-height: 100px; // para que no estén tan chicos
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.circle {
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  border-radius: 50%;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 15px;
}


.btn-dev {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: black;
  color: white;
  text-decoration: none; // importante para <a>
  text-align: center;    // centra el texto si <a> tiene display block
  line-height: 2.3em;    // verticalmente centra el texto
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block; // importante para <a>

  &::after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
  }

  &:hover {
    color: black;
  }

  &:hover::after {
    transform: skewX(-45deg) scale(1, 1);
  }
}
