.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f3f3f3;
    width: 100vw;
    max-width: 100%;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .container-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .items-color {
    background: linear-gradient(347deg, rgba(2, 40, 115, 1) 9%, rgba(3, 101, 140, 1) 100%);
    color: white;
  }
  