.container-login {
    display: grid;
    place-items: center;
    background: linear-gradient(347deg, rgba(2, 40, 115, 1) 9%, rgba(3, 101, 140, 1) 100%);
    height: 80vh;
  }
  
  .login-box {
    background: #222;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  button {
    background-color: #3366ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  
    &:hover {
      background-color: #2244cc;
    }
  }
  
  @media (max-width: 480px) {
    .login-box {
      width: 100%;
      padding: 1.5rem;
    }
  
    body {
      padding: 10px;
    }
  
    button {
      padding: 12px;
      font-size: 1rem;
    }
  }
  